*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 590;
    line-height: 1.2;
}
.logo img{
    width: 60px;

}
ul{
    
    display: flex;
    align-items: center;
    justify-content: center;
}
ul li{
    
  text-decoration: none;
  margin: 10px;
  list-style:none;


}
ul li a{
    color: rgba(111, 107, 103, .7);
 list-style:none;
  text-decoration: none;

}
.search{
    display: flex;
    justify-content: center;
  align-items: center;
}









.hero_image {
    background-image: url(./assest/asset\ 9.jpeg);
    width: 100vw;
    height: 80vh;
   opacity: 95%;
   background-size: auto;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center
 
}
.hero_header {
    font-family: Garamond, serif;
    font-size: 1.5rem;
    position: absolute;
    top: 30%;
    left: 12%;
    width: 20%;
color: aliceblue;
}
.hero_header button{
    background: #D1A272;
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin-top: 20px;
    

}
