* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

/************************ latest form dabor css  ***************/
.hero {
    background-image: url("newsroom/images/MicrosoftTeams-image\ \(28\).png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 560px;
}

.content_main {
    padding-top: 15vh;
    padding-left: 3rem;
}

.content_main .heading {
    
        color: #707070;
        font-size: 15px;
        margin: 0 0 30px;
        font-weight: 400;
        line-height: 1.4;
    

}

.content_main .subheading {

        width: 25%;
        margin-bottom: 30px;
        font-family: 'EB Garamond', serif;
        font-size: 52px;
        font-weight: 500;
        font-style: normal;
       
        color: #6F6B67;
    }

.media_achive {
    padding: 60px ;
}

.container_media {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
}

.container_media h5 {
    font-family: "Nunito Sans", sans-serif;
    color: #707070;
    font-size: 14px;
    font-weight: 600;
}

.container_media h3 {

    margin-top: 1rem;
    width: 60%;
    font-family: "EB Garamond", serif;
    color: #D1A272;
    font-size: 28px;
    font-weight: 500;
}

.post {
    padding: 0px 72px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.left_post {
    padding-left: 2rem;
    width: 65vw;

}

.head_post h1 {
    color: #D1A272;
    font-family: "EB Garamond", serif;
    font-size: 28px;
    font-weight: 500;
}

.head_post {
    padding-top: 5rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
    font-family: "EB Garamond", serif;
}

.pbutton {
    padding: 0.7rem 2.1rem;
    margin-right: 3rem;
    border: 1px solid #D1A272;
    background: white;
}

.pbutton:hover {
    background-color: #D1A272;
    color: white;
}

.nums_post {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    top: 0;
}

.date {
    color: #707070;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.release {
    color: #707070;
    font-family: "EB Garamond", serif;
    font-size: 14px;
    font-weight: 400;
}

.nums_post h4 {
    text-align: left;
    width: 90%;
    color: #D1A272;
    font-family: "EB Garamond", serif;
    font-size: 24px;
    font-weight: 500;
}

.rbutton {

    text-align: center;
    padding: .5rem 0.5rem;
    width: 20%;
    color: black;
    cursor: pointer;
    font-family: "EB Garamond", serif;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid #D1A272;
    display: block;
    text-transform: capitalize;
}

.rbutton:hover {
    background-color: #D1A272;
    color: white;
    transition: ease-in-out all .3s;

}

.nums_post img {
    width: 18.56px;
    height: 18.56px;
    position: absolute;
    top: 80%;
    left: 25%;
    cursor: pointer;
}

/* *************************rhs */
.right_post {
   width: 35vw;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    border-left: 1px solid #D3D1D0;
    

}

.content1 {
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
}

.content1 h2 {
    color: #D1A272;
    font-family: "EB Garamond", serif;
    font-size: 28px;
    font-weight: 500;
    width: 50%;
}

.content2 {
    margin-top: 4rem;
}

.content2 h4,
.content4 h4 {
    
    text-align: left;
    
    color: #707070;
    text-transform: uppercase;
    font-family: "Nunito Sans", serif;
    font-size: 14px;
    font-weight: 600;
    padding: 20px 0 0;

}


.content3 {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.content3 h2 {
    width: 30%;
    
    text-align: left;
    color: #D1A272;
    text-transform: uppercase;
    font-family: "EB Garamond", serif;
    font-size: 28px;
    font-weight: 500;

}

#rabutton {
    height: 3.3rem;
    margin-right: 2rem;

}

.content4 {
    margin-top: 4rem;
}

.content4 img {
    width: 100%;
    height: 250px;

}

/* .content2:hover .archive h4::before{
    left: 50px;
    top: 30px;
    transform: rotate(-90deg);

}
.content4:hover .archive h4::before{
    left: 50px;
    top: 30px;
    transform: rotate(-90deg);

} */

/* <iframe width="221" height="250" src="https://www.youtube.com/embed/v0ZCh59fd_Q" title="Dabur Ratnaprash | Dabur Ratnaprash Ingredients: Kashmiri Kesar | Improve Strength, Stamina &amp; Vigour" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> */
.media_achive{
    background-color: #FCFBF9;
    padding-top: 90px;
}
.archive_content {
    margin-top: 5rem;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 259px);
    column-gap: 3rem;
}

.box img {
    display: block;
    width: 259px;
    height: 259px;
}

.archive {
    background-color: white;
    
    text-align: start;
    position: relative;
    top: 0px;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
/* ***?  */
.box:hover{
background-color: #6F6B67;
z-index: 3;
opacity: 1;
box-shadow: 10px 10px 50px whitesmoke;
}

.archive h4 {

    /* margin-left: 2.5rem;
    margin-top: 2.5rem; */
    padding-left: 2.5rem;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    font-family: "Nunito Sans", sans-serif;
    position: relative;
    color: #707070;
}
/* ***?  */
.archive h4::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 20px;
    background-color: #D1A272;
    transition: all 500ms;
}

.archive p {
    /* margin-left: 2.5rem;
    margin-top: 2rem; */
    font-family: "EB Garamond", serif;
    color: #D1A272;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.archive p img{
    margin-left: 20px;
}
.hov_post {
    height: 4rem;
    padding-top: 2rem;
    padding-left: 2.5rem;
    opacity: 0;
    transition: all 500ms;
}

.hov {
    height: 4rem;
    padding-top: 2rem;
    padding-left: 2.5rem;
    opacity: 0;
    transition: all 500ms;
}
/* ***?  */

.box:hover .hov {
    opacity: 1;
}
/* ***?  */

.box:hover .archive h4::before {
    left: 50px;
    top: 16px;
    transform: rotate(-90deg);
}
/* ////////// */
/* .content4:hover .hov {
    opacity: 1;
} */
/* ***?  */

/* .content4:hover .archive h4::before {
    left: 50px;
    top: 16px;
    transform: rotate(-90deg);
} */

.archive img {
 
left: 63%; 
    width: 50px;
    height: 11.48px;
   
}

/* footer */
/* footer */
footer {
    background-color: #fcfbf9;
    padding: 40px 0 30px;
  }
  
  footer .top {
    display: flex;
    align-items: center;
    padding-bottom: 4rem;
    border-bottom: 0.5px solid #717170;
  }
  footer p {
    color: #717170;
    font-weight: 300;
  }
  .subTop1 {
    width: 25%;
    margin-left: 0.5rem;
  }
  .subTop1 img {
    width: 150px;
  }
  .subTop2 {
    width: 75%;
    display: flex;
    flex-direction: column;
  }
  .subTop2 .menu {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 2rem;
  }
  .menu li .same {
    font-family: "EB Garamond", serif;
    font-size: 20px;
    font-weight: 500;
    color: #d1a272;
  }
  .subTop2 .address {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
  .address1 p {
    margin-bottom: 10px;
  }
  .address1Head {
    color: #707070;
    font-weight: 700;
  }
  .address .location {
    display: flex;
    gap: 20px;
  }
  
  .locationIcon {
    width: 22px;
    height: 28px;
    background-image: url("../../Logo/icon-location.svg");
    background-repeat: no-repeat;
  }
  .subTop2 .contact div {
    display: flex;
    gap: 20px;
  }
  .contact .number {
    margin-bottom: 15px;
  }
  
  footer .bottom {
    margin-top: 2rem;
    width: 100%;
    justify-content: space-between;
    display: flex;
  }
  .bottom .subBottom1 {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .bottom .subBottom1 p {
    font-family: "EB Garamond", serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0px;
    /* color: #707070; */
    line-height: 1.1;
  }
  
  .bottom .subBottom2 {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  
  .disclaimer,
  .privacy-policy {
    color: #d1a272;
  }
  li{
    list-style: none;
  }
  a{
    text-decoration: none;
  }


/*********Responsive design ***********/
/***** tablet screen ********/




@media screen and (max-width: 1024px){
    .hero {
        height: 400px;

    }
    .content_main .subheading {
            margin:10px 0 30px;
            width: 27%;
            font-size: 32px;         
        }
        .media_achive{
            padding-left: 0;
            padding-right: 0;
        }
        .archive_content{
            grid-template-columns: repeat(2,300px);
           column-gap: 5rem;
           row-gap: 2rem;
        }
        .box img{
            width: 300px;
        }
        #rabutton{
            height: 4rem;
        }
     
    

}
/****** Mobile-l screen ******/
@media screen and (max-width: 768px){
    .hero{
        background-image: url("newsroom/images/newsroom_0.jpg");
        height: 967px;
    }
    .content_main {
        padding-top: 45vh;
        padding-left: 2rem;
        
    }
    .content_main .subheading {
        width: 45%;
        line-height: 1.2;        
    }
    .content_main .heading{
        margin: 0 0 20px;
    }
    .media_achive {
        padding-left: 0;
        padding-right: 0;
    }
    .container_media h3{
        width: 80%;
    }
   
    .archive_content{
        grid-template-columns: repeat(2,259px);
        grid-template-rows:  repeat(2,259px);
    }
    .post{
        display: block;
        padding: 50px;
    }
    .left_post{
        width: 100%;
    }
    .right_post{
        width: 100%;
        /* border-left: 1px solid #D3D1D0; */
        border-left: none;
    }
    
    }
    #lsp::before{
        content: '';
        position: absolute;
        top:40vh;
        width: 85vw;
        right: 0rem;
        height: 1.3px;
        background-color: #D3D1D0;;
        transition: all 500ms;

    }
    .content3 h2{
        width: 100%;
    }
    .pbutton{
        margin-right: 0;
    }
    #rabutton{
        padding: 1rem 1rem;
        width: 50%;
        margin-right: 0;
    }
    .box img{
        width: 259px;
    }
    


/****** Mobile-m screen ******/
@media screen and (max-width: 425px){
    .hero{
        background-image: url("newsroom/images/newsroom_0.jpg");
        height: 513px;
        margin-bottom: 12rem;
    }
    .content_main {
        padding-top: 550px;
        text-align: center; 
        
    }
    .content_main .heading{
        margin: 30 0 20px;
        text-align: left;
        font-size: 15px;
    }
    .content_main .subheading {
        font-size: 28px;
        font-weight: 400;
        width: 100%;
        line-height: 1.2;        
    }
    .archive_content{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr ;
        row-gap: 2rem;
    }
    .media_achive {
        padding-left: 0;
        padding-right: 0;
    }
    .container_media h3{
        width: 80%;
    }
    .head_post{
        flex-direction: column;
        gap: 2rem;
    }
    .rbutton{
        width: 50%;
    }
    .nums_post img {
        top:85%;
        left:60%;
    }
    #lsp::before{
        top: 45vh;
        width: 100%;
    }
    .right_post{
        width: 100%;
        padding-left: 0;
    }
    iframe{
        width: 100%;
    }
    .content3{
        flex-direction: column;
        gap: 2rem;
    }
    .content3 h2{
        text-align: center;
        font-size: 24px;
        font-weight: 400;
    }
}
/****** Mobile-s screen ******/
@media screen and (max-width: 320px){

}

/***************8footer************/
@media screen and (max-width: 1100px){


footer {
    padding: 3rem 4rem;
  }

  footer p {
    font-size: 14px;
    color: #717170;
    font-weight: 300;
  }
  footer .top {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2rem;
  }
  .subTop1 img {
    width: 100px;
  }
  .subTop1 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .subTop2 {
    width: 100%;
    justify-content: center;
  }
  .subTop2 .menu {
    gap: 1.5rem;
  }
  .menu li .same {
    font-size: 16px;
  }
  .subTop2 .address {
    width: 100%;
  }

  footer .bottom {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .bottom .subBottom1 p {
    font-size: 16px;
  }
}
@media screen and (max-width: 425px){


footer {
    padding: 3rem;
  }

  .address {
    flex-direction: column;
  }
  .address .location {
    gap: 5px;
  }
  .locationIcon {
    width: 28px;
    padding-right: 15px;
  }

  .bottom .subBottom1 {
    flex-direction: column;
    gap: 5px;
  }
  .bottom .subBottom1 p {
    color: #707070;
    font-weight: 300;
  }
}
