* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
  scroll-behavior: smooth3333333333333333333333333333333333333333333333333333333333;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

/************************ latest form dabor css  ***************/
h 
header {
  width: 100vw;
}
li{
  height: 100%;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
  z-index: 999;
}

nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 5rem;
  /* padding: 1.5rem 5rem; */
}

nav ul {
  display: flex;
  align-items: center;
}

nav img {
  display: block;
}
nav ul a {
  padding: 0px 0.6rem;
  font-size: 18px;
  font-family: "EB Garamond", serif;
  font-weight: 200;
}

nav ul .same {
  /* color: #7E7A77; */
  color: rgba(111, 107, 103, 0.7);
  font-weight: 500;
}
nav ul .globe {
  font-size: 18px;
}

nav ul .globe span {
  color: #d1a272;
  font-size: 24px;
}

nav ul .arogya {
  font-size: 15px;
}

nav ul .menu {
  display: none;
}
.glob {
  height: 24px;
}
nav .magnify i{
  font-size: 28px;

}
/* 

navbar media query



*/

@media screen and (max-width: 1024px) {
  nav {
    padding: 0.5rem 2rem;
  }
  nav ul .same {
    padding: 0 0.2rem;
    font-size: 18px;
  }
  nav ul .arogya {
    font-size: 14px;
  }
  .gayab {
    gap: 0.5rem;
  }
  nav ul .glob {
    width: 18px;
    height: 18px;
  }
  .icon a {
    font-size: 18px;
  }
  .icon a i {
    width: 18px;
    height: 18px;
  }
  .magnify {
    width: 18px;
    height: 18px;
  }
}

@media screen and (max-width: 768px) {
  nav img {
    width: 48px;
    height: 48px;
  }
  nav .gayab {
    display: none;
  }
  nav ul .menu {
    display: inline;
  }
  .menu {
    margin-left: 1rem;
  }
  /* nav {
    padding-bottom: 0;
  } */
  nav ul .globe {
    width: 18px;
    height: 18px;
  }
  nav ul .icons{
    display: flex;
    gap:1rem;
  }
  
}

@media screen and (max-width: 426px) {
  nav {
    /* padding: 0 2rem; */
    gap: 2rem;
  }
  .magnify {
    margin-left: 0.5rem;
  }
  nav .magnify i{
    font-size: 20px;
  
  }
  nav .icon {
    gap: 0.8rem;
}
}

@media screen and (max-width: 376px) {
  .magnify,
  .glob,
  nav ul .arogya {
    display: none;
  }

}
  /* *************************** */

.section1{
  padding-top: 1rem;
  width: 100vw;
}
  .navigationBar {
    z-index: -1;
    width: 100%;
    height: 2.5rem;
    background-color: #f4f4f5;
    display: flex;
    align-items: center;
    padding-left: 4rem;
    color: #707070;
    font-weight: 300;
    position: relative;
    
  }
  
  .navigationBar a ,p{
    display: inline;
    color: #5989bb;
    margin-right: 0.5rem;
    font-weight: 300;
    font-size: 16px;
    cursor: pointer;
  }
  .navigationBar span {
    color: #cccdd1;
    margin-right: 0.5rem;
  }
  /* mede query    */
  
.hero {
    background-image: url("newsroom/images/MicrosoftTeams-image\ \(28\).png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 560px;
}

.content_main {
    padding-top: 15vh;
    padding-left: 3rem;
   
}

.content_main .heading {
    
        color: #707070;
        font-size: 15px;
        margin: 0 0 30px;
        font-weight: 400;
        line-height: 1.4;
    

}

.content_main .subheading {

        width: 25%;
        margin-bottom: 30px;
        font-family: 'EB Garamond', serif;
        font-size: 52px;
        font-weight: 500;
        font-style: normal;
       
        color: #6F6B67;
    }

.media_achive {
    padding: 60px ;
}

.container_media {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
}

.container_media h5 {
    font-family: "Nunito Sans", sans-serif;
    color: #707070;
    font-size: 14px;
    font-weight: 600;
}

.container_media h3 {

    margin-top: 1rem;
    width: 60%;
    font-family: "EB Garamond", serif;
    color: #D1A272;
    font-size: 28px;
    font-weight: 500;
}

.post {
    padding-left: 60px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}



.head_post h1 {
    color: #D1A272;
    font-family: "EB Garamond", serif;
    font-size: 28px;
    font-weight: 500;
}

.head_post {
    padding-top: 5rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
    font-family: "EB Garamond", serif;
}

.pbutton {
    padding: 0.7rem 2.1rem;
    margin-right: 3rem;
    border: 1px solid #D1A272;
    background: white;
}

.pbutton:hover {
    background-color: #D1A272;
    color: white;
}

.nums_post {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    top: 0;
}

.date {
    color: #707070;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.release {
    color: #707070;
    font-family: "EB Garamond", serif;
    font-size: 14px;
    font-weight: 400;
}

.nums_post h4 {
    text-align: left;
    width: 90%;
    color: #D1A272;
    font-family: "EB Garamond", serif;
    font-size: 24px;
    font-weight: 500;
}

.rbutton {

    text-align: center;
    padding: .5rem 0.5rem;
    width: 20%;
    color: black;
    cursor: pointer;
    font-family: "EB Garamond", serif;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid #D1A272;
    display: block;
    text-transform: capitalize;
}

.rbutton:hover {
    background-color: #D1A272;
    color: white;
    transition: ease-in-out all .3s;

}

.nums_post img {
    width: 18.56px;
    height: 18.56px;
    position: absolute;
    top: 80%;
    left: 25%;
    cursor: pointer;
}

/* *************************rhs */
.right_post {
   
    display: flex;
    flex-direction: column;

      width: 40%;
      padding-left: 40px;
      padding-right: 40px;
  
    border-left: 1px solid #D3D1D0;
    
    

}

.content1 {
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
}

.content1 h2 {
    color: #D1A272;
    font-family: "EB Garamond", serif;
    font-size: 28px;
    font-weight: 500;
    width: 50%;
}

.content2 {
    margin-top: 4rem;
}

.content2 h4,
.content4 h4 {
    
    text-align: left;
    
    color: #707070;
    text-transform: uppercase;
    font-family: "Nunito Sans", serif;
    font-size: 14px;
    font-weight: 600;
    padding: 20px 0 0;

}


.content3 {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.content3 h2 {
    width: 30%;
    
    text-align: left;
    color: #D1A272;
    text-transform: uppercase;
    font-family: "EB Garamond", serif;
    font-size: 28px;
    font-weight: 500;

}

#rabutton {
    height: 3.3rem;
    margin-right: 2rem;

}

.content4 {
    margin-top: 4rem;
}

.content4 img {
    width: 100%;
    height: 250px;

}

/* .content2:hover .archive h4::before{
    left: 50px;
    top: 30px;
    transform: rotate(-90deg);

}
.content4:hover .archive h4::before{
    left: 50px;
    top: 30px;
    transform: rotate(-90deg);

} */

/* <iframe width="221" height="250" src="https://www.youtube.com/embed/v0ZCh59fd_Q" title="Dabur Ratnaprash | Dabur Ratnaprash Ingredients: Kashmiri Kesar | Improve Strength, Stamina &amp; Vigour" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> */


.content4 .thumb h4{
    opacity: 1;
}
.content2 .thumb h4{
    opacity: 1;
}
.content4:hover .thumb h4::before {
    left: 50px;
    top: 16px;
    transform: rotate(-90deg);
}
.content2:hover .thumb h4::before {
    left: 50px;
    top: 16px;
    transform: rotate(-90deg);
}
.media_achive{
    background-color: #FCFBF9;
    padding-top: 90px;
}
.archive_content {
    margin-top: 5rem;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 259px);
    column-gap: 3rem;
}

.box img {
    display: block;
    width: 259px;
    height: 259px;
}
/***********************************************/
.archive {
    background-color: white;
    
    text-align: start;
    position: relative;
    top: 0px;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.thumb{
    background-color: white;
    
    text-align: start;
    position: relative;
    top: 0px;
    padding-top: 1.8rem;
    padding-bottom: 0.9rem;

}

.box:hover{

z-index: 3;
opacity: 1;
box-shadow: 10px 10px 50px whitesmoke;
}
.thumb:hover{
z-index: 3;
opacity: 1;
box-shadow: 10px 10px 50px whitesmoke;

}

.archive h4 {

    padding-left: 2.5rem;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    font-family: "Nunito Sans", sans-serif;
    position: relative;
    color: #707070;
}
.thumb h4{
    padding-left: 2.5rem;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    font-family: "Nunito Sans", sans-serif;
    position: relative;
    color: #707070;
    padding-top: 0;

}
.thumb h4::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 30px;
    background-color: #D1A272;
    transition: all 500ms;
}
.archive h4::before {
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    width: 1px;
    height: 20px;
    background-color: #D1A272;
    transition: all 500ms;
}

.archive p {
    /* margin-left: 2.5rem;
    margin-top: 2rem; */
    font-family: "EB Garamond", serif;
    color: #D1A272;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.thumb p{
    font-family: "EB Garamond", serif;
    color: #D1A272;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;

}
.archive p img{
    margin-left: 20px;
}
.thumb p img{
    margin-left: 20px;
}
.hov_post {
    height: 4rem;
    padding-top: 2rem;
    padding-left: 2.5rem;
    opacity: 0;
    transition: all 500ms;
}

.hov {
    height: 4rem;
    padding-top: 2rem;
    padding-left: 2.5rem;
    opacity: 0;
    transition: all 500ms;
}
.hov2{
    height: 4rem;
    padding-top: 2rem;
    padding-left: 2.5rem;
    opacity: 0;
    transition: all 500ms;

}

.box:hover .hov {
    opacity: 1;
}
.content4:hover .hov2{
    opacity: 1;
}
.content2:hover .hov2{
    opacity: 1;
}

.box:hover .archive h4::before {
    left: 50px;
    top: 25px;
    transform: rotate(-90deg);
}
.content4:hover /.thumb::before{
    left: 50px;
    top: 16px;
    transform: rotate(-90deg);
}
.content2:hover /.thumb::before{
    left: 50px;
    top: 16px;
    transform: rotate(-90deg);
}



.archive img {
 
left: 63%; 
    width: 50px;
    height: 11.48px;
   
}
.thumb img{
    left: 63%;
    width: 50px;
    height:11.48px ;
}

/* footer */
/* footer */
footer {
    background-color: #fcfbf9;
    padding: 40px 0 30px;
  }
  
  footer .top {
    display: flex;
    align-items: center;
    padding-bottom: 4rem;
    border-bottom: 0.5px solid #717170;
  }
  footer p {
    color: #717170;
    font-weight: 300;
  }
  .subTop1 {
    width: 25%;
    margin-left: 0.5rem;
  }
  .subTop1 img {
    width: 150px;
  }
  .subTop2 {
    width: 75%;
    display: flex;
    flex-direction: column;
  }
  .subTop2 .menu {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 2rem;
  }
  .menu li .same {
    font-family: "EB Garamond", serif;
    font-size: 20px;
    font-weight: 500;
    color: #d1a272;
  }
  .subTop2 .address {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
  .address1 p {
    margin-bottom: 10px;
  }
  .address1Head {
    color: #707070;
    font-weight: 700;
  }
  .address .location {
    display: flex;
    gap: 20px;
  }
  
  .locationIcon {
    width: 22px;
    height: 28px;
    background-image: url("../../Logo/icon-location.svg");
    background-repeat: no-repeat;
  }
  .subTop2 .contact div {
    display: flex;
    gap: 20px;
  }
  .contact .number {
    margin-bottom: 15px;
  }
  
  footer .bottom {
    margin-top: 2rem;
    width: 100%;
    justify-content: space-between;
    display: flex;
  }
  .bottom .subBottom1 {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .bottom .subBottom1 p {
    font-family: "EB Garamond", serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0px;
    /* color: #707070; */
    line-height: 1.1;
  }
  
  .bottom .subBottom2 {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  
  .disclaimer,
  .privacy-policy {
    color: #d1a272;
  }
  li{
    list-style: none;
  }
  a{
    text-decoration: none;
  }


/*********Responsive design ***********/
/***** tablet screen ********/




@media screen and (max-width: 1024px){
    .hero {
        height: 400px;

    }
    .content_main .subheading {
            margin:10px 0 30px;
            width: 27%;
            font-size: 32px;         
        }
        .media_achive{
            padding-left: 0;
            padding-right: 0;
        }
        .archive_content{
            grid-template-columns: repeat(2,300px);
           column-gap: 5rem;
           row-gap: 2rem;
        }
        .box img{
            width: 300px;
        }
        #rabutton{
            height: 4rem;
        }
     
    

}
/****** Mobile-l screen ******/
@media screen and (max-width: 768px){
    .hero{
        background-image: url("newsroom/images/newsroom_0.jpg");
        height: 967px;
    }
    .content_main {
        padding-top: 45vh;
        padding-left: 2rem;
        
    }
    .content_main .subheading {
        width: 45%;
        line-height: 1.2;        
    }
    .content_main .heading{
        margin: 0 0 20px;
    }
    .media_achive {
        padding-left: 0;
        padding-right: 0;
    }
    .container_media h3{
        width: 80%;
    }
    .container_media{
        padding: 20px;
        margin: 0;
    }
   
   
    .archive_content{
        grid-template-columns: repeat(2,259px);
        
        row-gap: 3rem;
    }
    .post{
        display: block;
        padding: 30px;
        width: 100%;
    }
    .left_post{
        width: 100%;
        margin-bottom: 30px;
    }
    .right_post{
        width: 100%;
        /* border-left: 1px solid #D3D1D0; */
        border-left: none;
    }
    
    }
 
    .content3 h2{
        width: 100%;
    }
    .pbutton{
        margin-right: 0;
    }
    #rabutton{
        padding: 1rem 1rem;
        width: 50%;
        margin-right: 0;
    }
    .box img{
        width: 259px;
    }

    
/*********************************hr line fow kwer scrren*************>*/
    @media screen and (min-width: 768px){
        #lsp::before{
            content: '';
            position: absolute;
            top:40vh;
            width: 85vw;
            right: 0rem;
            height: 1.3px;
            background-color: #D3D1D0;
            transition: all 500ms;
        }
        
        }
        @media screen and (min-width: 420px){
            #lsp::before{
                content: '';
                position: absolute;
                top:40vh;
                width: 85vw;
                right: 0rem;
                height: 1.3px;
                background-color: #D3D1D0;
                transition: all 500ms;
            }
            
            }
/****** Mobile-m screen ******/
@media screen and (max-width: 425px){
    .hero{
        background-image: url("newsroom/images/newsroom_0.jpg");
        height: 513px;
        margin-bottom: 12rem;
    }
    .content_main {
        padding-top: 550px;
        text-align: center; 
        
    }
    .content_main .heading{
        margin: 30 0 20px;
        text-align: left;
        font-size: 15px;
    }
    .content_main .subheading {
        font-size: 28px;
        font-weight: 400;
        width: 100%;
        line-height: 1.2;        
    }
    .archive_content{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr ;
        row-gap: 2rem;
    }
    .media_achive {
        padding-left: 0;
        padding-right: 0;
    }
    .container_media h3{
        width: 80%;
    }
    .post{
        padding: 30px;
    }
    .head_post{
        flex-direction: column;
        gap: 2rem;
        padding-top: 0;
    }
   
    .nums_post{
        margin-top: 2rem;
    }
    .nums_post h4{
        width: 100%;
        margin-bottom: 2rem;
        font-size: 20px;
      
    }
    
      .pbutton {
        margin-left: 75px;
        width: 60%;
        padding: 1rem 0.2rem;
    
}
}
    .rbutton{
        width: 50%;
    }
    .nums_post img {
        top:85%;
        left:60%;
    }
    #lsp::before{
        top: 45vh;
        width: 100%;
    }
    .right_post{
        width: 100%;
        padding-left: 0;
    }
    iframe{
        width: 100%;
    }
    .content3{
        flex-direction: column;
        gap: 2rem;
    }
    .content3 h2{
        text-align: center;
        font-size: 24px;
        font-weight: 400;
    }

/****** Mobile-s screen ******/
@media screen and (max-width: 320px){

}

/***************8footer************/
@media screen and (max-width: 1100px){


footer {
    padding: 3rem 4rem;
  }

  footer p {
    font-size: 14px;
    color: #717170;
    font-weight: 300;
  }
  footer .top {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2rem;
  }
  .subTop1 img {
    width: 100px;
  }
  .subTop1 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .subTop2 {
    width: 100%;
    justify-content: center;
  }
  .subTop2 .menu {
    gap: 1.5rem;
  }
  .menu li .same {
    font-size: 16px;
  }
  .subTop2 .address {
    width: 100%;
  }

  footer .bottom {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .bottom .subBottom1 p {
    font-size: 16px;
  }

}

@media screen and (max-width: 425px){


footer {
    padding: 3rem;
  }

  .address {
    flex-direction: column;
  }
  .address .location {
    gap: 5px;
  }
  .locationIcon {
    width: 28px;
    padding-right: 15px;
  }

  .bottom .subBottom1 {
    flex-direction: column;
    gap: 5px;
  }
  .bottom .subBottom1 p {
    color: #707070;
    font-weight: 300;
  }
}
/*  */

.right_post{
    width: 40%;
    padding-left: 40px;
    padding-right: 40px;

}
.left_post{
    width:  60%;
}

      /* dropdown hover */

      @media screen and (max-width: 1100px) {
        nav li:hover #Investers {
          display: none;
          width: 0;
          height: 0;
        }
      }
      nav li #Investers {
        display: none;
        width: 0;
        height: 0;
      }
      
      nav li:hover #Investers {
        display: flex;
        width: 100%;
        transition: all 0.5s ease;
      }
      
      #Investers:hover {
        display: flex;
       
      }
      
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      
      .section {
        margin-left: 1.25rem;
      }
      /* .container_invester {
        padding-top: 5rem;
        padding-left: 5rem;
        padding-right: 5rem;
        padding-bottom: 20px;
        display: flex;
        justify-content: space-evenly;
      
        gap: 3rem;
      } */
      .container_invester a {
        font-family: "EB Garamond", serif;
        text-decoration: none;
        font-size: 15px;
        color: rgb(112, 112, 112);
        line-height: 16.5px;
        padding-top: 10px;
      }
      
      .content {
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }
      .content .detail:hover {
        color: black;
        transition: all 0.3s ease-in-out;
      }
      .content #one img {
        display: block;
        width: 310px;
        height: 150px;
      }
      .content p {
        font-family: "Nunito Sans", sans-serif;
        width: 95%;
        font-size: 14px;
        font-weight: 300;
      }
      .content .button {
        background-color: #d1a272;
        /* padding-top: 5px;
          padding-bottom: 5px; */
        text-align: center;
        display: block;
      }
      .content .heading {
        color: rgb(209, 162, 114);
        font-weight: 500;
        text-transform: capitalize;
      }
      /* * .section {
        margin-left: 1.25rem;
      } */
      
      /* newsroom */
      
      .container_newsroom {
        display: flex;
        justify-content: space-between;
      
        gap: 3rem;
      }
      a {
        text-decoration: none;
      }
      .content {
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }
      .content #one img {
        display: block;
        width: 310px;
        height: 150px;
      }
      .content p {
        font-family: "Nunito Sans", sans-serif;
        width: 95%;
        font-size: 14px;
        font-weight: 300;
      }
      .content .button {
        background-color: #d1a272;
        padding: 15px 15px;
        text-align: center;
        color: white;
        font-size: x-large;
      }
      .content .heading {
        color: rgb(209, 162, 114);
        font-weight: 500;
        text-transform: capitalize;
        font-size: large;
      }
      
      /* about us */
      
      .container_Aboutus,
      .container_ourbrand,
      .container_invester,
      .container_newsroom,
      .container_Ayurveda,
      .container_JoinUs {
        padding: 3rem 0;
        padding-bottom: 5rem;
        display: flex;
        gap: 3rem;
        position: absolute;
        background: white;
        top: 88px;
        left: 0;
        width: 100%;
      }
      #Newsroom {
        padding-top: 0;
      }
      a {
        text-decoration: none;
      }
      .content {
        width: 20%;
        display: flex;
        flex-direction: column;
      }
      .content #one img {
        display: block;
        width: 310px;
        height: 150px;
      }
      .content p {
        font-family: "Nunito Sans", sans-serif;
        width: 95%;
        font-size: 17px;
        font-weight: 300;
        margin: 5px 5px;
      }
      .content .button {
        background-color: #d1a272;
        padding: 15px 15px;
        text-align: center;
        color: white;
        font-size: x-large;
      }
      .content .heading {
        color: rgb(209, 162, 114);
        font-weight: 500;
        text-transform: capitalize;
        font-size: x-large;
      }
      
      .content .detail {
        font-size: 16px;
      }
      
      /* ayurveda & you */
      
      /* .container_Ayurveda {
        padding-top: 4rem;
        padding-left: 30px;
        padding-right: 20px;
        padding-bottom: 20px;
        display: flex;
        justify-content: left;
      
        gap: 3rem;
      } */
      a {
        text-decoration: none;
      }
      .content {
        width: 25%;
        display: flex;
        flex-direction: column;
      }
      .content #one img {
        display: block;
        width: 310px;
        height: 150px;
      }
      .content p {
        font-family: "Nunito Sans", sans-serif;
        width: 95%;
        font-size: 16px;
        font-weight: 300;
        margin: 5px 5px;
        color: rgb(167, 167, 167);
        line-height: 19px;
        letter-spacing: 1px;
      }
      .content .button {
        background-color: #d1a272;
        padding: 15px 15px;
        text-align: center;
        color: white;
        font-size: x-large;
      }
      .content .heading {
        color: rgb(209, 162, 114);
        font-weight: 500;
        text-transform: capitalize;
        font-size: x-large;
      }
      
      .content .detail {
        font-size: 16px;
      }
      
      /* Join us */
      
      /* .container_JoinUs {
        padding-top: 4rem;
        padding-left: 4rem;
        padding-right: 4rem;
        padding-bottom: 20px;
        display: flex;
        justify-content: left;
      
        gap: 3rem;
      } */
      a {
        text-decoration: none;
      }
      .content {
        width: 25%;
        display: flex;
        flex-direction: column;
      }
      .content #one img {
        display: block;
        width: 310px;
        height: 150px;
      }
      .content p {
        font-family: "Nunito Sans", sans-serif;
        width: 95%;
        font-size: 15px;
      
        margin: 5px 5px;
        color: rgb(167, 167, 167);
        line-height: 19px;
        letter-spacing: 1px;
      }
      .content .button {
        background-color: #d1a272;
        padding: 15px 15px;
        text-align: center;
        color: white;
        font-size: x-large;
      }
      .content .heading {
        color: rgb(209, 162, 114);
        font-weight: 500;
        text-transform: capitalize;
        font-size: large;
      }
      
      .content .detail {
        font-size: 16px;
      }
      
      /* support  */
      
      /* .container_JoinUs {
        padding-top: 4rem;
        padding-left: 4rem;
        padding-right: 4rem;
        padding-bottom: 20px;
        display: flex;
        justify-content: left;
      
        gap: 3rem;
      } */
      a {
        text-decoration: none;
      }
      .content {
        width: 25%;
        display: flex;
        flex-direction: column;
      }
      .content #one img {
        display: block;
        width: 310px;
        height: 150px;
      }
      .content p {
        font-family: "Nunito Sans", sans-serif;
        width: 95%;
        font-size: 15px;
      
        margin: 5px 5px;
        color: rgb(167, 167, 167);
        line-height: 19px;
        letter-spacing: 1px;
      }
      .content .button {
        background-color: #d1a272;
        padding: 15px 15px;
        text-align: center;
        color: white;
        font-size: x-large;
      }
      .content .heading {
        color: rgb(209, 162, 114);
        font-weight: 500;
        text-transform: capitalize;
        font-size: large;
      }
      
      .content .detail {
        font-size: 16px;
      }
      
      /* our brand */
      
      /* .container_ourbrand {
        padding-top: 4rem;
        padding-left: 4rem;
        padding-right: 4rem;
        padding-bottom: 20px;
        display: flex;
        justify-content: left;
      
        gap: 3rem;
      } */
      a {
        text-decoration: none;
      }
      .content {
        width: 25%;
        display: flex;
        flex-direction: column;
      }
      
      .content .sub {
        width: 100%;
        margin-top: 4rem;
        text-align: left;
      }
      
      .content .digestive {
        padding-top: 2.7rem;
      }
      
      .content .down {
        padding-top: 3rem;
      }
      
      .content #one img {
        display: block;
        width: 310px;
        height: 150px;
      }
      .content p {
        font-family: "Nunito Sans", sans-serif;
        width: 95%;
        font-size: 15px;
      
        margin: 5px 5px;
        color: rgb(167, 167, 167);
        line-height: 19px;
        letter-spacing: 1px;
      }
      .content .button {
        background-color: #d1a272;
        padding: 15px 15px;
        text-align: center;
        color: white;
        font-size: x-large;
      }
      .content .heading {
        color: rgb(209, 162, 114);
        font-weight: 500;
        text-transform: capitalize;
        font-size: large;
      }
      
      .content .detail {
        font-size: 16px;
      }
      #Investers a {
        color: #717170;
      }
      #Investers .heading {
        color: #d1a272;
      }


      /* recoorection */
      @media screen and (max-width: 768px) {
      .left_post {
        width: 100%;
        margin-bottom: 30px;
        padding:0 40px ;
      }
        .right_post{
          
          width: 100%;
          margin-bottom: 30px;
          padding:0 40px ;
        }
    }
  
