* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

.globe {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  color: #d1a272;
}

html,
body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
header {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5rem;
}

nav ul {
  display: flex;
  gap: 1.2rem;
}
nav ul a {
  /* padding: 0px 0.8rem; */
  font-size: 20px;
  font-family: "EB Garamond", serif;
  font-weight: 500;
}

nav ul .same {
  /* color: #7E7A77; */
  color: rgba(111, 107, 103, 0.7);
  font-weight: 500;
}

/* nav ul .globe {
  color: #d1a272;
  font-size: 18px;
} */

nav ul .arogya {
  font-size: 15px;
}
.navigationBar {
  z-index: -1;
  width: 100%;
  height: 3.5rem;
  background-color: #f4f4f5;
  display: flex;
  align-items: center;
  padding-left: 4rem;
  color: #707070;
  font-weight: 300;
  position: relative;
  font-size: 14px;
}

.navigationBar a {
  color: #5989bb;
  margin-right: 0.5rem;
  font-weight: 300;
}
.navigationBar span {
  color: #cccdd1;
  margin-right: 0.5rem;
}

/* .banner {
  width: 100%;
} */
.bannerImage {
  width: 100%;
  position: relative;
}
.bannerHead {
  width: 30%;
  margin: 20px 0 30px;
  color: #6f6b67;
  font-family: "EB Garamond", serif;
  font-size: 62px;
  font-weight: 500;
  position: absolute;
  top: 35%;
  left: 7%;
}

/* Section 2 */

.section2 {
  padding: 3rem 6rem;
  padding-left: 7.5rem;
}

.sectionTitle {
  color: #6f6b67;
  text-align: center;
  padding-top: 2rem;
  font-size: 1rem;
  font-weight: 600;
}

.sectionHead {
  text-align: center;
  color: #d1a272;
  font-family: "EB Garamond", serif;
  font-size: 2.2rem;
  font-weight: 500;
  padding-top: 1rem;
}

.cards {
  width: 95%;
  display: flex;
  margin: 0 auto;

  gap: 2rem;

  flex-wrap: wrap;
  margin-top: 4rem;
}
.card {
  transition: transform 0.6s ease-in;
}

.card > img {
  width: 300px;
}

.pipe,
.discoverMore a {
  color: #d1a272;
}
.discription {
  color: #6f6b67;
  font-weight: 500;
  font-size: 1.1rem;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  position: relative;
  display: flex;
  align-items: center;
}
.discription div {
  margin-left: 1.5rem;
}
.pipe {
  position: absolute;
  left: 0;
  height: 1.5rem;
  border-left: 2px solid #d1a272;
  transition: transform 0.4s ease-in;
  width: 70px;
}
.pipe div {
  height: 100%;
}

.discoverMore img {
  width: 60px;
}

.discoverMore {
  font-size: 1.2rem;

  display: flex;
  align-items: center;
  gap: 10px;
  opacity: 0;
  padding-left: 1.5rem;
  padding-bottom: 2.5rem;
}
.discoverMore a {
  font-family: "EB Garamond", serif;
}

/* card hover */

.card:hover {
  box-shadow: 0 3px 25px rgba(0, 0, 0, 0.16);
}

.card:hover .discoverMore {
  opacity: 1;
}

.card:hover .pipe {
  transform: matrix(1, 0, 0, 1, 0, -10) rotateZ(-90deg);
  bottom: 0;
}

/* section 3 */

/* .section3 {
  background-image: url("Images/home3_1_4.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.section3 {
  width: 100%;
  height: 800px;
  position: relative;
}
.section3Image {
  background-image: url("Images/home3_1_4.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.section3Wrapper {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  border: 20px solid #fdfaf9;
  background-color: #fffefe;
  width: 1000px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section3Wrapper:hover {
  box-shadow: 0px 25px 75px #0000004d;
}

.section3Head {
  font-size: 2.4rem;
}
.section3para {
  margin-top: 1rem;
  color: #707070;
  font-size: 18px;
  font-weight: 300;
}
.btn {
  border: none;
  background-color: #fffefe;
  border: 1px solid #d1a272;
  padding: 1rem 2rem;
  color: #717170;
  font-size: 1rem;
  cursor: pointer;
  font-family: "EB Garamond", serif;
  font-weight: 500;
  font-size: 20px;
}
.section3Btn {
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-align: center;
}

/* section 4 */

.section4 {
  background-color: #fdfaf9;
  padding: 5rem 6rem;
}
/* .slider-container {
  padding: 1rem;
} */
.slider-wrapper {
  padding-top: 3rem;
  padding-bottom: 3rem;
  overflow-y: hidden;
  overflow-x: scroll;
  display: grid;
  /* grid-auto-columns: 1fr; */
  gap: 50px;
  grid-auto-flow: column;
}
.slider-wrapper::-webkit-scrollbar {
  height: 0px;
  background-color: #aaa;
  border-radius: 5px;
}

.slider {
  /* margin: 0.1rem; */
  width: 300px;
}
.image-container {
  position: relative;
}
.image-container img {
  width: 100%;
}

.floatingContent {
  background-color: #d1a2727e;
  color: white;
  font-size: 13px;
  padding: 5px 10px;
  position: absolute;
  left: 10px;
  top: 10px;
}

.content-container {
  padding: 1rem;
  color: #707070;
  font-weight: 300;
  font-family: "EB Garamond", serif;
}
.content-container p {
  margin-bottom: 3rem;
}

.icons {
  width: 100%;
  font-family: "EB Garamond", serif;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  transition: all 0.2s ease-in;
}
.share-icon {
  display: flex;
  gap: 1rem;
}
.count {
  font-family: "EB Garamond", serif;
}
.icons img {
  width: 20px;
  height: 18px;
}
.slider:hover {
  box-shadow: 0 3px 25px rgba(0, 0, 0, 0.16);
}
.slider:hover .icons {
  opacity: 1;
}

/* section 5 */

.section5 {
  padding: 5rem 6rem;
}

.section5Head {
  padding-top: 1rem;
  font-size: 35px;
}
.section5Text {
  margin: 0 auto;
  margin-top: 1rem;
  font-size: 1.2rem;

  width: 62%;
  color: #707070;
  text-align: center;
  font-weight: 300;
  font-family: "Nunito Sans", sans-serif;
}

.section5Submit {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.section5Submit input {
  width: 400px;
  height: 50px;
  border: 1px solid #d1a272;
  padding-left: 20px;
  color: #717170;
  font-weight: 300;
}
.section5Submit input:focus-visible {
  outline: none;
}
.section5Submit button {
  /* width: 400px; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: white;
  background-color: #d1a272;
}
@media screen and (max-width: 1536px) {
  .card > img {
    width: 280px;
  }
}
@media screen and (max-width: 1500px) {
  .bannerHead {
    font-size: 52px;
  }
}
@media screen and (max-width: 1472px) {
  .card > img {
    width: 270px;
  }
  .section2,
  .section4,
  .section5 {
    padding: 4rem 3rem;
  }
  .section2 {
    padding-left: 4rem;
  }
  /* .slider-wrapper {
    padding: 3rem 2rem;
  } */
  .slider {
    width: 295px;
  }
}
@media screen and (max-width: 1427px) {
  .slider {
    width: 285px;
  }
}
@media screen and (max-width: 1392px) {
  .slider {
    width: 275px;
  }
}

@media screen and (max-width: 1366px) {
  .bannerHead {
    font-size: 32px;
  }
  .slider {
    width: 260px;
  }
  .slider-wrapper {
    padding: 3rem 2rem;
  }
}

@media screen and (max-width: 1334px) {
  .section2,
  .section4,
  .section5 {
    padding: 2rem;
  }
  .section2 {
    padding-left: 3.5rem;
  }
  .card > img {
    width: 260px;
  }
}

@media screen and (max-width: 1240px) {
  .card > img {
    width: 240px;
  }
  .cards {
    gap: 1.5rem;
  }
  .card {
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 1151px) {
  .card > img {
    width: 225px;
  }
}

@media screen and (max-width: 1106px) {
  .card > img {
    width: 215px;
  }
  .card .discoverMore {
    opacity: 1;
    font-size: 15px;
  }
  .discoverMore img {
    width: 40px;
  }
  .discription {
    font-size: 13px;
  }
  .pipe {
    height: 1rem;

    transform: rotateZ(-90deg);
    left: 6px;
    bottom: 0;
  }
  .card {
    box-shadow: 0 3px 25px rgba(0, 0, 0, 0.16);
  }
}
@media screen and (max-width: 1046px) {
  .card > img {
    width: 210px;
  }
}
@media screen and (max-width: 1046px) {
  .card > img {
    width: 200px;
  }
}

@media screen and (max-width: 1024px) {
  .section2 {
    padding-left: 2.5rem;
  }
  .section3Wrapper {
    width: 800px;
  }
  .sectionHead {
    font-size: 28px;
  }
  .sectionTitle {
    font-size: 14px;
  }
  .section3para {
    font-size: 16px;
  }
  .icons {
    opacity: 1;
  }
  .slider {
    box-shadow: 0 3px 25px rgba(0, 0, 0, 0.16);
  }
}

@media screen and (max-width: 992px) {
  .section2,
  .section4,
  .section5 {
    padding: 2rem 5rem;
  }
  .card > img {
    width: 300px;
  }
  .cards {
    /* width: 100%; */
    gap: 0;
    justify-content: space-around;
  }
}

@media screen and (max-width: 836px) {
  .section2,
  .section4,
  .section5 {
    padding: 2rem 4rem;
  }
  .section3Wrapper {
    width: 700px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .bannerHead {
    width: 100%;
    position: relative;
    left: 0;
    text-align: center;
    font-size: 28px;
    font-weight: 400;
  }
  .section2,
  .section4,
  .section5 {
    padding: 2rem;
  }
  .card > img {
    width: 270px;
  }
  .section3Wrapper {
    width: 700px;
  }
  .section3 {
    height: 700px;
  }

  .slider-wrapper {
    gap: 30px;
    /* padding: 1rem; */
  }
  .slider {
    width: 200px;
    margin: 0;
  }
}

@media screen and (max-width: 674px) {
  .section2,
  .section4,
  .section5 {
    padding: 2rem;
  }
}

@media screen and (max-width: 633px) {
  .section2,
  .section4,
  .section5 {
    padding: 2rem 1rem;
  }
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .section3Wrapper {
    width: 90%;
  }
}
@media screen and (max-width: 425px) {
  .section3Wrapper {
    /* width: 400px; */
    height: auto;

    text-align: center;
    top: 65%;
    box-shadow: 0px 25px 75px #0000004d;
  }

  .section3Image {
    height: 300px;
  }
  .sectionHead {
    font-size: 24px;
  }
  .sectionTitle {
    font-size: 13px;
  }
  .section3para {
    font-size: 15px;
  }
  .section3Btn {
    padding: 0.5rem 1.5rem;
    font-size: 15px;
  }

  .section4 {
    margin-top: 1.7rem;
  }

  .slider-wrapper {
    width: 316px;

    gap: 10px;

    margin: 0 auto;
    padding: 3rem 0;
  }

  .slider {
    width: 292px;
    margin-left: 0.8rem;
    margin-right: 0.5rem;

    /* border: 1px solid #0000004d; */
    /* box-shadow: none; */
  }
}

@media screen and (max-width: 320px) {
  .section3Wrapper {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
  .section3Btn {
    width: 150px;
    padding: 0.4rem 0.8rem;
  }
  .section4 {
    margin-top: 3.8rem;
  }
}
