* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    overflow-x: hidden;
    background-color: #FCFAF8;
  }
  
  
  
  h3 {
    color: #d1a272;
    font-family: "EB Garamond", serif;
    font-size: 35px;
    font-weight: 500;
    text-align: center;
  }
  
  h4 {
    color: #d1a272;
    font-family: "EB Garamond", serif;
    font-size: 28px;
    font-weight: 500;
  }
  
  h6 {
    color: #d1a272;
    font-family: "EB Garamond", serif;
  
    font-weight: 500;
    text-align: center;
  }
  
  p {
    color: #707070;
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    font-weight: 500;
  }

  
  a {
    text-decoration: none;
  }
  /* *****************************header ********************************** */
 
header {
  width: 100vw;
}
li{
  height: 100%;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
  z-index: 999;
}

nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 5rem;
  /* padding: 1.5rem 5rem; */
}

nav ul {
  display: flex;
  align-items: center;
}

nav img {
  display: block;
}
nav ul a {
  padding: 0px 0.6rem;
  font-size: 18px;
  font-family: "EB Garamond", serif;
  font-weight: 200;
}

nav ul .same {
  /* color: #7E7A77; */
  color: rgba(111, 107, 103, 0.7);
  font-weight: 500;
}
nav ul .globe {
  font-size: 18px;
}

nav ul .globe span {
  color: #d1a272;
  font-size: 24px;
}

nav ul .arogya {
  font-size: 15px;
}

nav ul .menu {
  display: none;
}
.glob {
  height: 24px;
}
/* 

navbar media query



*/

@media screen and (max-width: 1024px) {
  nav {
    padding: 0.5rem 2rem;
  }
  nav ul .same {
    padding: 0 0.2rem;
    font-size: 18px;
  }
  nav ul .arogya {
    font-size: 14px;
  }
  .gayab {
    gap: 0.5rem;
  }
  nav ul .glob {
    width: 18px;
    height: 18px;
  }
  .icon a {
    font-size: 18px;
  }
  .icon a i {
    width: 18px;
    height: 18px;
  }
  .magnify {
    width: 18px;
    height: 18px;
  }
}

@media screen and (max-width: 768px) {
  nav img {
    width: 48px;
    height: 48px;
  }
  nav .gayab {
    display: none;
  }
  nav ul .menu {
    display: inline;
  }
  .menu {
    margin-left: 1rem;
  }
  /* nav {
    padding-bottom: 0;
  } */
  nav ul .globe {
    width: 18px;
    height: 18px;
  }
}

@media screen and (max-width: 426px) {
  nav {
    /* padding: 0 2rem; */
    gap: 2rem;
  }
  .magnify {
    margin-left: 0.5rem;
  }
}

@media screen and (max-width: 376px) {
  .magnify,
  .glob,
  nav ul .arogya {
    display: none;
  }
}
  /* *************************** */
.section1{
  padding:1.2rem;
}
  .navigationBar {
    z-index: -1;
    width: 100%;
    height: 3.5rem;
    background-color: #f4f4f5;
    display: flex;
    align-items: center;
    padding-left: 4rem;
    color: #707070;
    font-weight: 300;
    position: relative;
    font-size: 14px;
  }
  
  .navigationBar a ,p{
    display: inline;
    color: #5989bb;
    margin-right: 0.5rem;
    font-weight: 300;
  }
  .navigationBar span {
    color: #cccdd1;
    margin-right: 0.5rem;
  }
  /* mede query    */
  
  
  
  .hero {
    width: 100vw;
    height: 100vh;
    background-image: url("invester/images/financial-information\ \(2\)\ 1920x750.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  
  .content_hero {
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: left;
    top: 13rem;
    padding-left: 5rem;
    position: relative;
   
  
  }
  
  .content_hero h3 {
    color: #707070;
    text-align: left;
    width: 40%;
    font-size: 52px;
    font-weight: 500;
  }
  
  .content_hero .tittle {
    text-align: left;
    color: #707070;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  
  .content_hero a {
    margin-top: 2rem;
    width: 30%;
    text-align: center;
    padding: 14px 30px;
    text-transform: capitalize;
  
    background-color: #d1a272;
    color: white;
  }
  
  .performance {
    width: 100vw;
    padding: 90px;
   background-color :#f6f6f6 ;
  }
  
  .container_perf {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .container_perf h3 {
    font-size: 28px;
    width: 60%;
    margin: 20px 0 30px;
  }
  
  .container_perf h6 {
    margin: 10px 0 50px;
    font-size: 20px;
    font-weight: 500;
  }
  
  .content_figure {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 0.5rem;
    text-align: center;
  }
  
  .figure {
    border-right: 1px solid #e4dacf;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  
  #bnone {
    border: none;
  }
  
  .amount {
    width: 100%;
    display: flex;
    gap: 0.5rem;
    text-align: center;
    /* border: 1px solid black; */
  }
  
  .amount span {
    width: 100%;
    text-align: center;
    color: #d1a272;
    font-family: "EB Garamond", serif;
    font-size: 56px;
    font-weight: 500;
  }
  
  .figure p {
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
  }
  
  .latest_invester {
    padding: 90px;
  }
  
  .container_lat_inv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .container_lat_inv h2 {
    font-size: 14px;
    color: #707070;
    margin: 20px 0 25px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
  
  }
  
  .container_lat_inv h1 {
    font-size: 28px;
    color: #d1a272;
  
    font-family: "EB Garamond", serif;
    font-weight: 500;
    margin-bottom: 25px;
  }
  
  li {
    margin-top: 0.5rem;
  }
  
  .list_meeting a {
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: 300;
    font-family: "Nunito Sans", "serif";
    line-height: 25px;
  }
  .list_meeting li{
    list-style: square;
  }
  .list_meeting li::marker {
    color:#d1a272;
  }
  
  .list_meeting li:hover {
    text-decoration: underline;
  }
  
  .latest_lower {
    
    display: flex;
    justify-content: space-between;
    
    width: 100%;
    padding: 60px 30px;
  }
  
  .box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
  }
  /* .boxf{
    background-color: whitesmoke;
    padding-bottom: 30px;
    box-shadow: 30px 30px 30px whitesmoke;
  } */
  
  .boxcontent {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-bottom: 2rem;
    /* box-shadow: 5px 5px 5px rgb(165, 162, 162); */
  
  }
  .box{
    display: flex;
    flex-direction: column;
    gap:3rem;
    width: 350px;
  }
  
  .boxcontent p {
    width: 100%;
    font-size: 12px;
    font-size: 300;
    text-align: left;
    margin-left: 1rem;
    margin-top: 1.5rem;
  }
  
  .boxcontent h4 {
    width: 80%;
    color: #d1a272;
    font-size: 28px;
    font-weight: 500;
    text-align: left;
    margin-left: 1rem;
    margin-top: 1.5rem;
  }
  
  .boxcontent h6 {
    
    color: #707070;
    font-size: 16px;
    font-size: 300;
    text-align: left;
    margin-left: 1rem;
    margin-top: 1.5rem;
  }
  
  .boxcontent img {
    width: 100%;
    height: 240px;
    display: block;
   
  }
  
  .lbutton {
    padding: 0.7rem 2.1rem;
    margin-right: 3rem;
    border: 1px solid #d1a272;
    background: white;
  }
  
  .lbutton:hover {
    background-color: #d1a272;
    color: white;
  } 
  
  .containalsocheck h3{
    padding: 20px 0px 25px;
    text-align: center;
  }
  @media  (max-width:1024px) {
    .box{
      width: 300px;
    }
    
  }
  @media  (max-width:768px) {
    .latest_invester{
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
    }
    .box{
      width: 400px;
    }
    
  }
  
  .also_check {
    padding: 90px;
  }
  
  .graph {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
    margin-top: 3rem;
  }
  
  .graphbox {
    padding: 1rem;
    width: 200px;
    height: 160px;
    border: 1px solid #d1a272;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  i{
    font-size: 50px;
    color:#d1a272;
  }
  .rarrowbutton{
    display: none;
  }
  .leftarr{
    display: none;
  }
  .graphbox:hover{
    
    box-shadow: 30px 30px 30px white;
    border: none;
  }
  .graphbox img {
    display: block;
    height: 71px;
    width: 65px;
  }
  
  .graphbox h4 {
    color: #707070;
    font-family: "Nunito Sans", serif;
    font-weight: 300;
    font-size: 16px;
    width: 100%;
  }
  .graphbox{
    transition:opacity 0.4s ease-in-out;
    
    

    
  }
  .graph:hover > :not(:hover){
    position: relative;
    opacity: 0.4s ease-in-out;
    
    z-index: 3;
    
  }
  .graphbox:hover{
    transform: scale(1.3);
    box-shadow: 10px 10px 10px white ;
    transition: 0.4s ease-in-out;

  }
  
  
  .quick_links{
    padding: 90px;
  }
  .container_quick_links{
    display: flex;
    flex-direction: column;
    gap:2rem;
    align-items: center;
  
  }
  .container_quick_links p{
    font-size: 16px;
    font-weight: 700;
    color: #707070;
    font-family: "Nunito Sans", serif;
  }
  
  
  
  .links {
    display: grid;
   grid-template-columns:repeat(3,1fr);
   column-gap: 5rem;
  }
  
  .boxlinks {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    text-align: left;
  }
  
  .alinks {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .alinks a {
    display: block;
    text-decoration: none;
    color: #707070;
    
  
    font-size: 14px;
    font-family: "EB Garamond", serif;
    text-align: left;
    font-weight: 500;
    text-transform: capitalize;
    position: relative;
    padding-left: 0;
    transition: all 400ms;
  }
  .links_tittle{
    display: block;
  }
  
  .alinks a::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: #d1a272;
    left: 0;
    top: 50%;
    display: none;
  }
  .alinks a:hover{
    padding-left: 50px;
  }
  .alinks a:hover::before{
    display: block;
  }
  
  .links a:hover {
    color: #d1a272;
  }
  
  .image_boxlinks img {
    width: 257px;
    height: 190px;
  }
  
  .boxlinks span {
    color: #d1a272;
    font-family: "EB Garamond", serif;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
  }
  footer {
    background-color: #fcfbf9;
    padding: 40px 0 30px;
  }
  
  footer .top {
    display: flex;
    align-items: center;
    padding-bottom: 4rem;
    border-bottom: 0.5px solid #717170;
  }
  footer p {
    color: #717170;
    font-weight: 300;
  }
  .subTop1 {
    width: 25%;
    margin-left: 0.5rem;
  }
  .subTop1 img {
    width: 150px;
  }
  .subTop2 {
    width: 75%;
    display: flex;
    flex-direction: column;
  }
  .subTop2 .menu {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 2rem;
  }
  .menu li .same {
    font-family: "EB Garamond", serif;
    font-size: 20px;
    font-weight: 500;
    color: #d1a272;
  }
  .subTop2 .address {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
  .address1 p {
    margin-bottom: 10px;
  }
  .address1Head {
    color: #707070;
    font-weight: 700;
  }
  .address .location {
    display: flex;
    gap: 20px;
  }
  
  .locationIcon {
    width: 22px;
    height: 28px;
    background-image: url("../../Logo/icon-location.svg");
    background-repeat: no-repeat;
  }
  .subTop2 .contact div {
    display: flex;
    gap: 20px;
  }
  .contact .number {
    margin-bottom: 15px;
  }
  
  footer .bottom {
    margin-top: 2rem;
    width: 100%;
    justify-content: space-between;
    display: flex;
  }
  .bottom .subBottom1 {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .bottom .subBottom1 p {
    font-family: "EB Garamond", serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0px;
    /* color: #707070; */
    line-height: 1.1;
  }
  
  .bottom .subBottom2 {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  
  .disclaimer,
  .privacy-policy {
    color: #d1a272;
  }
  li{
    list-style: none;
  }
  a{
    text-decoration: none;
  }





  @media screen and (max-width: 768px) {
  .hero {
    background-image: url("invester/images/financial-information\ \(2\)_3\ \(768\).jpg");
    height: 928px;
  }

  .content_hero {
   
   position: relative;
    width: 70%;
    top: 40%;
    z-index: 2;
  left: 0;
  }

  .content_hero h3 {
    width: 70%;
    font-size: 32px;
  }

  .content_hero a {
    width: 60%;
    padding: 11px 30px;
  }

  .performance {
    padding: 90px 20px;
  }

  .content_figure {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

  }

  .container_perf h3 {
    width: 95%;
    font-size: 24px;
  }

  #bnone2 {
    border: none;
    width: 400px;
  }

  .container_perf h6 {
    font-size: 15px;
  }

  .amount span {
    font-size: 46px;
  }

  .content_figure {
    row-gap: 24px;
  }

  .latest_invester {
    padding: 90px 0 90 5px;
  }

  .container_lat_inv {
    align-items: flex-start;

  }

  .container_lat_inv h2 {
    width: 100%;
    text-align: center;
  }

  .container_lat_inv h1 {
    width: 100%;
    text-align: center;
  }

  .list_meeting a {
    text-align: left;
    font-size: 14px;
  }

  .container_quick_links p{
    text-align: center;
    width: 100%;
  }
 #gd{
  display: none;
 }
 .rarrowbutton{
  display: block;
 }

  
  .latest_lower {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
    row-gap: 3rem;

  }
  .links{
    column-gap: 1rem;
  }
  .list_meeting{
    margin-left: 3rem;
  }
  .links {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  }
  @media screen and (max-width: 425px) {

    .hero {
      background-image: url("invester/images/financial-information\ 425.jpg");
      height: 513px;
    }
  
    .content_hero {
      /* padding-top: 550px;
      padding-left: 1rem;
      padding-right: 1rem;
      width: 100%;
      align-items: center; */
      position: relative;
      top: 550px;
      width: 100%;
      left: 0;
      margin-left: 0;
     
    }
  
    .content_hero h3 {
      width: 70%;
      font-size: 28px;
      text-align: left;
  
    }
  
    .content_hero a {
      position: relative;
      
      text-align: center;
    left: 0;
       
     
     
  }
  
    .content_hero .tittle {
      
      text-align: left;
    }
  
    .performance {
      width: 100vw;
      margin-top: 300px;
      padding: 30px 40px;
  
    }
    .figure p{
      font-size: 11px;
    }
    #bnone2 {
      border: none;
      width:auto;
    }
    .amount span {
      font-size: 28px;
    }
  
    .container_lat_inv {
      align-items: flex-start;
  
    }
  
    .list_meeting a {
  
      text-align: left;
      font-size: 14px;
    }
    .li{
      width: 90%;
    }
  .latest_invester{
    padding: 60px;
  }
    #gd{
      display: none;
     }
     #ga{
      display: none;
     }
     .rarrowbutton{
      display: block;
     }
     .leftarr{
      display: block;
    }
    .links {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  
    }
    .latest_lower{
      align-items: center;
      margin-left: 3.5rem;
  
    }
    .list_meeting{
      margin-left: 2rem;
    }
    .boxcontent{
      width: 350px;
      align-items: center;
    }
    .boxcontent img{
      width: 350px;
  
    }
    .also_check{
      padding: 30px;
    }
    .graphbox h4{
      font-size: 14px;
    }
  }
  @media screen and (max-width: 1100px){


    footer {
        padding: 3rem 4rem;
      }
    
      footer p {
        font-size: 14px;
        color: #717170;
        font-weight: 300;
      }
      footer .top {
        flex-direction: column;
        justify-content: center;
        padding-bottom: 2rem;
      }
      .subTop1 img {
        width: 100px;
      }
      .subTop1 {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
      }
      .subTop2 {
        width: 100%;
        justify-content: center;
      }
      .subTop2 .menu {
        gap: 1.5rem;
      }
      .menu li .same {
        font-size: 16px;
      }
      .subTop2 .address {
        width: 100%;
      }
    
      footer .bottom {
        flex-direction: column;
        align-items: center;
        gap: 20px;
      }
      .bottom .subBottom1 p {
        font-size: 16px;
      }
    




    }
    @media screen and (max-width: 1100px){


      footer {
          padding: 3rem 4rem;
        }
      
        footer p {
          font-size: 14px;
          color: #717170;
          font-weight: 300;
        }
        footer .top {
          flex-direction: column;
          justify-content: center;
          padding-bottom: 2rem;
        }
        .subTop1 img {
          width: 100px;
        }
        .subTop1 {
          width: 100%;
          display: flex;
          justify-content: center;
          margin-bottom: 2rem;
        }
        .subTop2 {
          width: 100%;
          justify-content: center;
        }
        .subTop2 .menu {
          gap: 1.5rem;
        }
        .menu li .same {
          font-size: 16px;
        }
        .subTop2 .address {
          width: 100%;
        }
      
        footer .bottom {
          flex-direction: column;
          align-items: center;
          gap: 20px;
        }
        .bottom .subBottom1 p {
          font-size: 16px;
        }
      
      }
      /* dropdown hover */

@media screen and (max-width: 1100px) {
  nav li:hover #Investers {
    display: none;
    width: 0;
    height: 0;
  }
}
nav li #Investers {
  display: none;
  width: 0;
  height: 0;
}

nav li:hover #Investers {
  display: flex;
  width: 100%;
  transition: all 0.5s ease;
}

#Investers:hover {
  display: flex;
 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section {
  margin-left: 1.25rem;
}
/* .container_invester {
  padding-top: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-evenly;

  gap: 3rem;
} */
.container_invester a {
  font-family: "EB Garamond", serif;
  text-decoration: none;
  font-size: 15px;
  color: rgb(112, 112, 112);
  line-height: 16.5px;
  padding-top: 10px;
}

.content {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.content .detail:hover {
  color: black;
  transition: all 0.3s ease-in-out;
}
.content #one img {
  display: block;
  width: 310px;
  height: 150px;
}
.content p {
  font-family: "Nunito Sans", sans-serif;
  width: 95%;
  font-size: 14px;
  font-weight: 300;
}
.content .button {
  background-color: #d1a272;
  /* padding-top: 5px;
    padding-bottom: 5px; */
  text-align: center;
  display: block;
}
.content .heading {
  color: rgb(209, 162, 114);
  font-weight: 500;
  text-transform: capitalize;
}
/* * .section {
  margin-left: 1.25rem;
} */

/* newsroom */

.container_newsroom {
  display: flex;
  justify-content: space-between;

  gap: 3rem;
}
a {
  text-decoration: none;
}
.content {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.content #one img {
  display: block;
  width: 310px;
  height: 150px;
}
.content p {
  font-family: "Nunito Sans", sans-serif;
  width: 95%;
  font-size: 14px;
  font-weight: 300;
}
.content .button {
  background-color: #d1a272;
  padding: 15px 15px;
  text-align: center;
  color: white;
  font-size: x-large;
}
.content .heading {
  color: rgb(209, 162, 114);
  font-weight: 500;
  text-transform: capitalize;
  font-size: large;
}

/* about us */

.container_Aboutus,
.container_ourbrand,
.container_invester,
.container_newsroom,
.container_Ayurveda,
.container_JoinUs {
  padding: 3rem 0;
  padding-bottom: 5rem;
  display: flex;
  gap: 3rem;
  position: absolute;
  background: white;
  top: 88px;
  left: 0;
  width: 100%;
}
#Newsroom {
  padding-top: 0;
}
a {
  text-decoration: none;
}
.content {
  width: 20%;
  display: flex;
  flex-direction: column;
}
.content #one img {
  display: block;
  width: 310px;
  height: 150px;
}
.content p {
  font-family: "Nunito Sans", sans-serif;
  width: 95%;
  font-size: 17px;
  font-weight: 300;
  margin: 5px 5px;
}
.content .button {
  background-color: #d1a272;
  padding: 15px 15px;
  text-align: center;
  color: white;
  font-size: x-large;
}
.content .heading {
  color: rgb(209, 162, 114);
  font-weight: 500;
  text-transform: capitalize;
  font-size: x-large;
}

.content .detail {
  font-size: 16px;
}

/* ayurveda & you */

/* .container_Ayurveda {
  padding-top: 4rem;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: left;

  gap: 3rem;
} */
a {
  text-decoration: none;
}
.content {
  width: 25%;
  display: flex;
  flex-direction: column;
}
.content #one img {
  display: block;
  width: 310px;
  height: 150px;
}
.content p {
  font-family: "Nunito Sans", sans-serif;
  width: 95%;
  font-size: 16px;
  font-weight: 300;
  margin: 5px 5px;
  color: rgb(167, 167, 167);
  line-height: 19px;
  letter-spacing: 1px;
}
.content .button {
  background-color: #d1a272;
  padding: 15px 15px;
  text-align: center;
  color: white;
  font-size: x-large;
}
.content .heading {
  color: rgb(209, 162, 114);
  font-weight: 500;
  text-transform: capitalize;
  font-size: x-large;
}

.content .detail {
  font-size: 16px;
}

/* Join us */

/* .container_JoinUs {
  padding-top: 4rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 20px;
  display: flex;
  justify-content: left;

  gap: 3rem;
} */
a {
  text-decoration: none;
}
.content {
  width: 25%;
  display: flex;
  flex-direction: column;
}
.content #one img {
  display: block;
  width: 310px;
  height: 150px;
}
.content p {
  font-family: "Nunito Sans", sans-serif;
  width: 95%;
  font-size: 15px;

  margin: 5px 5px;
  color: rgb(167, 167, 167);
  line-height: 19px;
  letter-spacing: 1px;
}
.content .button {
  background-color: #d1a272;
  padding: 15px 15px;
  text-align: center;
  color: white;
  font-size: x-large;
}
.content .heading {
  color: rgb(209, 162, 114);
  font-weight: 500;
  text-transform: capitalize;
  font-size: large;
}

.content .detail {
  font-size: 16px;
}

/* support  */

/* .container_JoinUs {
  padding-top: 4rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 20px;
  display: flex;
  justify-content: left;

  gap: 3rem;
} */
a {
  text-decoration: none;
}
.content {
  width: 25%;
  display: flex;
  flex-direction: column;
}
.content #one img {
  display: block;
  width: 310px;
  height: 150px;
}
.content p {
  font-family: "Nunito Sans", sans-serif;
  width: 95%;
  font-size: 15px;

  margin: 5px 5px;
  color: rgb(167, 167, 167);
  line-height: 19px;
  letter-spacing: 1px;
}
.content .button {
  background-color: #d1a272;
  padding: 15px 15px;
  text-align: center;
  color: white;
  font-size: x-large;
}
.content .heading {
  color: rgb(209, 162, 114);
  font-weight: 500;
  text-transform: capitalize;
  font-size: large;
}

.content .detail {
  font-size: 16px;
}

/* our brand */

/* .container_ourbrand {
  padding-top: 4rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 20px;
  display: flex;
  justify-content: left;

  gap: 3rem;
} */
a {
  text-decoration: none;
}
.content {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.content .sub {
  width: 100%;
  margin-top: 4rem;
  text-align: left;
}

.content .digestive {
  padding-top: 2.7rem;
}

.content .down {
  padding-top: 3rem;
}

.content #one img {
  display: block;
  width: 310px;
  height: 150px;
}
.content p {
  font-family: "Nunito Sans", sans-serif;
  width: 95%;
  font-size: 15px;

  margin: 5px 5px;
  color: rgb(167, 167, 167);
  line-height: 19px;
  letter-spacing: 1px;
}
.content .button {
  background-color: #d1a272;
  padding: 15px 15px;
  text-align: center;
  color: white;
  font-size: x-large;
}
.content .heading {
  color: rgb(209, 162, 114);
  font-weight: 500;
  text-transform: capitalize;
  font-size: large;
}

.content .detail {
  font-size: 16px;
}
#Investers a {
  color: #717170;
}
#Investers .heading {
  color: #d1a272;
}
