* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
.globe {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  color: #d1a272;
}

html,
body,
section {
  /* overflow-x: hidden; */
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
header {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5rem;
}

nav ul {
  display: flex;
  gap: 1.2rem;
}
nav ul a {
  /* padding: 0px 0.8rem; */
  font-size: 20px;
  font-family: "EB Garamond", serif;
  font-weight: 500;
}

nav ul .same {
  /* color: #7E7A77; */
  color: rgba(111, 107, 103, 0.7);
  font-weight: 500;
}

/* nav ul .globe {
    color: #d1a272;
    font-size: 18px;
  } */

nav ul .arogya {
  font-size: 15px;
}
.navigationBar {
  z-index: -1;
  width: 100%;
  height: 3.5rem;
  background-color: #f4f4f5;
  display: flex;
  align-items: center;
  padding-left: 4rem;
  color: #707070;
  font-weight: 300;
  position: relative;
  font-size: 14px;
}

.navigationBar a {
  color: #5989bb;
  margin-right: 0.5rem;
  font-weight: 300;
}
.navigationBar span {
  color: #cccdd1;
  margin-right: 0.5rem;
}

/* .banner {
    width: 100%;
  } */
.bannerImage {
  width: 100%;
}
.bannerHead {
  width: 30%;
  margin: 20px 0 30px;
  color: #6f6b67;
  font-family: "EB Garamond", serif;
  font-size: 62px;
  font-weight: 500;
  position: absolute;
  top: 35%;
  left: 7%;
}
.padding {
  padding: 5rem;
}
.section2,
.section4 {
  padding: 5rem 6rem;
}
.sectionTitle {
  color: #6f6b67;
  text-align: center;
  padding-top: 1rem;
  font-size: 1rem;
  font-weight: 600;
}

.sectionHead {
  text-align: center;
  color: #d1a272;
  font-family: "EB Garamond", serif;
  font-size: 2.2rem;
  font-weight: 500;
  padding-top: 1rem;
}

.sectionText {
  font-size: 18px;
  color: #707070;
  font-weight: 300;
  line-height: 1.4;
  /* margin-bottom: 25px; */
  text-align: center;
  width: 60%;
  margin: 25px auto;
}

.section2 {
  background-color: #fcfbf9;
}

.section2 img {
  display: block;
  margin: 0 auto;
}

.sectionMatrix {
  padding-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.matrixText {
  font-weight: 600;
  font-family: "Nunito Sans", sans-serif;
}

.sectionMatrix .matrixHead {
  font-size: 3.5rem;
  padding-top: 0;
}

.sectionMatrix div {
  padding: 3rem;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #707070;
  font-weight: 600;
  border-right: 1px solid #e5dace;
}

.sectionMatrix .lastMatrix {
  border-right: none;
}

/* Section 4 */

.sectionTitle {
  color: #6f6b67;
  text-align: center;
  padding-top: 2rem;
  font-size: 1rem;
  font-weight: 600;
}

.sectionHead {
  text-align: center;
  color: #d1a272;
  font-family: "EB Garamond", serif;
  font-size: 2.2rem;
  font-weight: 500;
  padding-top: 1.2rem;
}

.section4 .sectionHead {
  width: 50%;
  margin: 0 auto;
}
.cards {
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;

  flex-wrap: wrap;
  margin-top: 4rem;
}
.card {
  transition: transform 0.6s ease-in;
  margin-bottom: 2rem;
}

.card > img {
  width: 400px;
  height: 250px;
}

.pipe,
.discoverMore a {
  color: #d1a272;
}
.discription {
  color: #6f6b67;
  font-weight: 500;
  font-size: 1.1rem;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  position: relative;
  display: flex;
  align-items: center;
}
.discription div {
  margin-left: 1.5rem;
  width: 270px;
}
.pipe {
  position: absolute;
  left: 0;
  height: 1.5rem;
  border-left: 2px solid #d1a272;
  transition: transform 0.4s ease-in;
  width: 70px;
}
.pipe div {
  height: 100%;
}

.discoverMore img {
  width: 60px;
}

.discoverMore {
  font-size: 1.2rem;

  display: flex;
  align-items: center;
  gap: 50px;
  opacity: 0;
  padding-left: 1.5rem;
  padding-bottom: 2.5rem;
}
.discoverMore a {
  font-family: "EB Garamond", serif;
  font-weight: 600;
  transition: all 0.9s ease-in;
}

.cardText {
  padding: 0 1.2rem 1rem;
  width: 400px;
  color: #707070;
  font-weight: 300;
}

/* card hover */

.card:hover {
  box-shadow: 0 3px 25px rgba(0, 0, 0, 0.16);
}

.card:hover .discoverMore {
  opacity: 1;
}

.card:hover .pipe {
  transform: matrix(1, 0, 0, 1, 0, -10) rotateZ(-90deg);
  bottom: 0;
}

@media screen and (max-width: 1437px) {
  .section4 {
    padding: 5rem 8rem;
  }
  .cards {
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 1366px) {
  .bannerHead {
    font-size: 32px;
  }
}

@media screen and (max-width: 1334px) {
  .section2,
  .section4,
  .section5 {
    padding: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .sectionHead {
    font-size: 28px;
  }
  .sectionTitle {
    font-size: 14px;
  }

  .sectionText {
    width: 90%;
  }
  .sectionMatrix .matrixHead {
    font-size: 48px;
  }
  .matrixText {
    font-size: 14px;
  }
  .section4 .sectionHead {
    width: 90%;
  }
}

@media screen and (max-width: 992px) {
  .section2,
  .section4,
  .section5 {
    padding: 2rem 5rem;
  }

  .sectionMatrix {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }
  .sectionMatrix div {
    padding: 3rem 8rem;
    margin-bottom: 2rem;
  }
  .sectionMatrix .lastMatrix {
    padding: 3rem 6rem;
  }
  .sectionMatrix .Matrix2 {
    border-right: none;
  }
}

@media screen and (max-width: 836px) {
  .section2,
  .section4,
  .section5 {
    padding: 2rem 4rem;
  }
}
@media screen and (max-width: 768px) {
  .bannerHead {
    width: 100%;
    position: relative;
    left: 0;
    text-align: center;
    font-size: 28px;
    font-weight: 400;
  }
  .section2,
  .section4,
  .section5 {
    padding: 2rem;
  }
  .section2 img {
    width: 400px;
  }
  .section4 .sectionHead {
    width: 100%;
  }
  .discoverMore {
    opacity: 1;
  }
  .cardText {
    display: none;
  }
  .card {
    box-shadow: 0 3px 25px rgba(0, 0, 0, 0.16);
  }
  .card .pipe {
    transform: matrix(1, 0, 0, 1, 0, -10) rotateZ(-90deg);
    bottom: 0;
  }
}

@media screen and (max-width: 750px) {
  .section2,
  .section4,
  .section5 {
    padding: 2rem;
  }
  .matrixHead {
    font-size: 32px;
  }
  .matrixText {
    font-size: 12px;
  }
}
@media screen and (max-width: 674px) {
  .section2,
  .section4,
  .section5 {
    padding: 2rem;
  }
}

@media screen and (max-width: 633px) {
  .section2,
  .section4,
  .section5 {
    padding: 2rem 1rem;
  }
}

@media screen and (max-width: 425px) {
  .card > img {
    width: 300px;
  }
  .discription div {
    font-size: 14px;
  }
  .discoverMore {
    gap: 20px;
  }
  .discoverMore a {
    font-weight: 500;
  }
  .discoverMore img {
    width: 50px;
  }
  .sectionHead {
    font-size: 24px;
  }
  .sectionTitle {
    font-size: 13px;
  }

  .sectionMatrix {
    padding-top: 2rem;
  }
  .sectionMatrix div {
    border: none;
  }

  .section2 img {
    width: 300px;
  }
}

@media screen and (max-width: 375px) {
}
@media screen and (max-width: 320px) {
  .section2 img {
    width: 250px;
  }
}
