* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
.globe {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  color: #d1a272;
}
/* 
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
header {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5rem;
}

nav ul {
  display: flex;
  gap: 1.2rem;
}
nav ul a {
  font-size: 20px;
  font-family: "EB Garamond", serif;
  font-weight: 500;
}

nav ul .same {
  color: rgba(111, 107, 103, 0.7);
  font-weight: 500;
}

nav ul .arogya {
  font-size: 15px;
} */

/* 



*/

header {
  width: 100vw;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 5rem;
  /* padding: 1.5rem 5rem; */
}

nav ul {
  display: flex;
  align-items: center;
}

nav img {
  display: block;
}
nav ul a {
  z-index: 1000;
  padding: 0px 0.6rem;
  font-size: 18px;
  font-family: "EB Garamond", serif;
  font-weight: 200;
}

nav ul .same {
  /* color: #7E7A77; */
  color: rgba(111, 107, 103, 0.7);
  font-weight: 500;
}
nav ul .globe {
  font-size: 18px;
}

nav ul .globe span {
  color: #d1a272;
  font-size: 24px;
}

nav ul .arogya {
  font-size: 15px;
}

nav ul .menu {
  display: none;
}
.glob {
  height: 24px;
}
/* 

navbar media query



*/

@media screen and (max-width: 1024px) {
  nav {
    padding: 0.5rem 2rem;
  }
  nav ul .same {
    padding: 0 0.2rem;
    font-size: 18px;
  }
  nav ul .arogya {
    font-size: 14px;
  }
  .gayab {
    gap: 0.5rem;
  }
  nav ul .glob {
    width: 18px;
    height: 18px;
  }
  .icon a {
    font-size: 18px;
  }
  .icon a i {
    width: 18px;
    height: 18px;
  }
  .magnify {
    width: 18px;
    height: 18px;
  }
}

@media screen and (max-width: 768px) {
  nav img {
    width: 48px;
    height: 48px;
  }
  nav .gayab {
    display: none;
  }
  nav ul .menu {
    display: inline;
  }
  .menu {
    margin-left: 1rem;
  }
  /* nav {
    padding-bottom: 0;
  } */
  nav ul .globe {
    width: 18px;
    height: 18px;
  }
}

@media screen and (max-width: 426px) {
  nav {
    /* padding: 0 2rem; */
    gap: 2rem;
  }
  .magnify {
    margin-left: 0.5rem;
  }
}

@media screen and (max-width: 376px) {
  .magnify,
  .glob,
  nav ul .arogya {
    display: none;
  }
}
/* 





*/
.navigationBar {
  z-index: -1;
  width: 100%;
  height: 3.5rem;
  background-color: #f4f4f5;
  display: flex;
  align-items: center;
  padding-left: 4rem;
  color: #707070;
  font-weight: 300;
  position: relative;
  font-size: 14px;
}

.navigationBar a {
  color: #5989bb;
  margin-right: 0.5rem;
  font-weight: 300;
}
.navigationBar span {
  color: #cccdd1;
  margin-right: 0.5rem;
}
.banner {
  overflow-y: hidden;
  width: 100%;
  overflow-x: scroll;
}
.innerBanner {
  z-index: -100;
  width: 200%;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  transition: transform 4s ease-in;
  animation: mymove 6s infinite;
  /* animation-duration: 10s; */
}

.innerBanner div {
  position: relative;
}
@keyframes mymove {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-100vw);
  }
}
.banner::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}
.bannerImage {
  width: 100%;
  z-index: -2;
}
.bannerHead {
  width: 30%;
  z-index: -2;
  margin: 20px 0 30px;
  color: #6f6b67;
  font-family: "EB Garamond", serif;
  font-size: 62px;
  font-weight: 500;
  position: absolute;
  top: 35%;
  left: 7%;
}

/* section 2 */

.section2,
.section4 {
  padding: 5rem 6rem;
}
.sectionTitle {
  color: #6f6b67;
  text-align: center;
  padding-top: 1rem;
  font-size: 1rem;
  font-weight: 600;
}

.sectionHead {
  text-align: center;
  color: #d1a272;
  font-family: "EB Garamond", serif;
  font-size: 2.2rem;
  font-weight: 500;
  padding-top: 1rem;
}

.sectionText {
  font-size: 18px;
  color: #707070;
  font-weight: 300;
  line-height: 1.4;
  /* margin-bottom: 25px; */
  text-align: center;
  width: 60%;
  margin: 25px auto;
}

.section2 {
  background-color: #fcfbf9;
}

.section2 img {
  display: block;
  margin: 0 auto;
}

.sectionMatrix {
  padding-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.matrixText {
  font-weight: 600;
  font-family: "Nunito Sans", sans-serif;
}

.sectionMatrix .matrixHead {
  font-size: 3.5rem;
  padding-top: 0;
}

.sectionMatrix div {
  padding: 3rem;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #707070;
  font-weight: 600;
  border-right: 1px solid #e5dace;
}

.sectionMatrix .lastMatrix {
  border-right: none;
}

/* Section 4 */

.sectionTitle {
  color: #6f6b67;
  text-align: center;
  padding-top: 2rem;
  font-size: 1rem;
  font-weight: 600;
}

.sectionHead {
  text-align: center;
  color: #d1a272;
  font-family: "EB Garamond", serif;
  font-size: 2.2rem;
  font-weight: 500;
  padding-top: 1.2rem;
}

.section4 .sectionHead {
  width: 50%;
  margin: 0 auto;
}
.cards {
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;

  flex-wrap: wrap;
  margin-top: 4rem;
}
.card {
  transition: transform 0.6s ease-in;
  margin-bottom: 2rem;
}

.card > img {
  width: 400px;
  height: 250px;
}

.pipe,
.discoverMore a {
  color: #d1a272;
}
.discription {
  color: #6f6b67;
  font-weight: 500;
  font-size: 1.1rem;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  position: relative;
  display: flex;
  align-items: center;
}
.discription div {
  margin-left: 1.5rem;
  width: 270px;
}
.pipe {
  position: absolute;
  left: 0;
  height: 1.5rem;
  border-left: 2px solid #d1a272;
  transition: transform 0.4s ease-in;
  width: 70px;
}
.pipe div {
  height: 100%;
}

.discoverMore img {
  width: 60px;
}

.discoverMore {
  font-size: 1.2rem;

  display: flex;
  align-items: center;
  gap: 50px;
  opacity: 0;
  padding-left: 1.5rem;
  padding-bottom: 2.5rem;
}
.discoverMore a {
  font-family: "EB Garamond", serif;
  font-weight: 600;
  transition: all 0.9s ease-in;
}

.cardText {
  padding: 0 1.2rem 1rem;
  width: 400px;
  color: #707070;
  font-weight: 300;
}

/* card hover */

.card:hover {
  box-shadow: 0 3px 25px rgba(0, 0, 0, 0.16);
}

.card:hover .discoverMore {
  opacity: 1;
}

.card:hover .pipe {
  transform: matrix(1, 0, 0, 1, 0, -10) rotateZ(-90deg);
  bottom: 0;
}

/* footer */
footer {
  background-color: #fcfbf9;
  padding: 3rem 6rem;
}

footer .top {
  display: flex;
  align-items: center;
  padding-bottom: 4rem;
  border-bottom: 0.5px solid #717170;
}
footer p {
  color: #717170;
  font-weight: 300;
}
.subTop1 {
  width: 25%;
  margin-left: 0.5rem;
}
.subTop1 img {
  width: 150px;
}
.subTop2 {
  width: 75%;
  display: flex;
  flex-direction: column;
}
.subTop2 .menu {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 2rem;
}
.menu li .same {
  font-family: "EB Garamond", serif;
  font-size: 20px;
  font-weight: 500;
  color: #d1a272;
}
.subTop2 .address {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.address1 p {
  margin-bottom: 10px;
}
.address1Head {
  color: #707070;
  font-weight: 700;
}
.address .location {
  display: flex;
  gap: 20px;
}

.locationIcon {
  width: 22px;
  height: 28px;
  background-image: url("../../Logo/icon-location.svg");
  background-repeat: no-repeat;
}
.subTop2 .contact div {
  display: flex;
  gap: 20px;
}
.contact .number {
  margin-bottom: 15px;
}

footer .bottom {
  margin-top: 2rem;
  width: 100%;
  justify-content: space-between;
  display: flex;
}
.bottom .subBottom1 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.bottom .subBottom1 p {
  font-family: "EB Garamond", serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0px;
  /* color: #707070; */
  line-height: 1.1;
}

.bottom .subBottom2 {
  display: flex;
  align-items: center;
  gap: 30px;
}

.disclaimer,
.privacy-policy {
  color: #d1a272;
}
@media screen and (max-width: 1437px) {
  .section4 {
    padding: 5rem 8rem;
  }
  .cards {
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 1366px) {
  .bannerHead {
    font-size: 32px;
  }
}

@media screen and (max-width: 1334px) {
  .section2,
  .section4,
  .section5 {
    padding: 2rem;
  }
}

@media screen and (max-width: 1106px) {
  /* footer */

  .footer {
    padding: 3rem 4rem;
  }

  footer p {
    font-size: 14px;
    color: #717170;
    font-weight: 300;
  }
  footer .top {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2rem;
  }
  .subTop1 img {
    width: 100px;
  }
  .subTop1 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .subTop2 {
    width: 100%;
    justify-content: center;
  }
  .subTop2 .menu {
    gap: 1.5rem;
  }
  .menu li .same {
    font-size: 16px;
  }
  .subTop2 .address {
    width: 100%;
  }

  footer .bottom {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .bottom .subBottom1 p {
    font-size: 16px;
  }
}

@media screen and (max-width: 1024px) {
  .sectionHead {
    font-size: 28px;
  }
  .sectionTitle {
    font-size: 14px;
  }

  .sectionText {
    width: 90%;
  }
  .sectionMatrix .matrixHead {
    font-size: 48px;
  }
  .matrixText {
    font-size: 14px;
  }
  .section4 .sectionHead {
    width: 90%;
  }
}

@media screen and (max-width: 992px) {
  .section2,
  .section4,
  .section5 {
    padding: 2rem 5rem;
  }

  .sectionMatrix {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }
  .sectionMatrix div {
    padding: 3rem 8rem;
    margin-bottom: 2rem;
  }
  .sectionMatrix .lastMatrix {
    padding: 3rem 6rem;
  }
  .sectionMatrix .Matrix2 {
    border-right: none;
  }
}

@media screen and (max-width: 836px) {
  .section2,
  .section4,
  .section5 {
    padding: 2rem 4rem;
  }
}
@media screen and (max-width: 768px) {
  .bannerHead {
    width: 100%;
    position: relative;
    left: 0px;
    top: 0;
    text-align: center;
    font-size: 28px;
    font-weight: 400;
  }
  /* .bannerImage {
    height: 100%;
  } */
  .section2,
  .section4,
  .section5 {
    padding: 2rem;
  }
  .section2 img {
    width: 400px;
  }
  .section4 .sectionHead {
    width: 100%;
  }
  .discoverMore {
    opacity: 1;
  }
  .cardText {
    display: none;
  }
  .card {
    box-shadow: 0 3px 25px rgba(0, 0, 0, 0.16);
  }
  .card .pipe {
    transform: matrix(1, 0, 0, 1, 0, -10) rotateZ(-90deg);
    bottom: 0;
  }
}

@media screen and (max-width: 750px) {
  .section2,
  .section4,
  .section5 {
    padding: 2rem;
  }
  .matrixHead {
    font-size: 32px;
  }
  .matrixText {
    font-size: 12px;
  }
}
@media screen and (max-width: 674px) {
  .section2,
  .section4,
  .section5 {
    padding: 2rem;
  }
}

@media screen and (max-width: 633px) {
  .section2,
  .section4,
  .section5 {
    padding: 2rem 1rem;
  }
}

@media screen and (max-width: 426px) {
  .card > img {
    width: 300px;
  }
  .discription div {
    font-size: 14px;
  }
  .discoverMore {
    gap: 20px;
  }
  .discoverMore a {
    font-weight: 500;
  }
  .discoverMore img {
    width: 50px;
  }
  .sectionHead {
    font-size: 24px;
  }
  .sectionTitle {
    font-size: 13px;
  }

  .sectionMatrix {
    padding-top: 2rem;
  }
  .sectionMatrix div {
    border: none;
  }

  .section2 img {
    width: 300px;
  }
  /* footer */

  footer {
    padding: 3rem;
  }

  .address {
    flex-direction: column;
  }
  .address .location {
    gap: 5px;
  }
  .locationIcon {
    width: 28px;
    padding-right: 15px;
  }

  .bottom .subBottom1 {
    flex-direction: column;
    gap: 5px;
  }
  .bottom .subBottom1 p {
    color: #707070;
    font-weight: 300;
  }
}

@media screen and (max-width: 375px) {
}
@media screen and (max-width: 320px) {
  .section2 img {
    width: 250px;
  }
  .lastMatrix {
    width: 100vw;
  }
}

/* 




navbar














*/
/* dropdown hover */
#Investers,
.container_Aboutus,
.container_invester,
.container_Ayurveda,
.container_JoinUs,
.container_newsroom,
.container_ourbrand {
  z-index: 2000;
}

#Investers a {
  color: #717170;
}
#Investers .heading {
  color: #d1a272;
}
@media screen and (max-width: 1100px) {
  nav li:hover #Investers {
    display: none;
    width: 0;
    height: 0;
  }
}
nav li #Investers {
  display: none;
  width: 0;
  height: 0;
}

nav li:hover #Investers {
  display: block;
  width: 100%;
}

#Investers:hover {
  display: flex;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section {
  margin-left: 1.25rem;
}
/* .container_invester {
  padding-top: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-evenly;

  gap: 3rem;
} */
.container_invester a {
  font-family: "EB Garamond", serif;
  text-decoration: none;
  font-size: 15px;
  color: rgb(112, 112, 112);
  line-height: 16.5px;
  padding-top: 10px;
}

.content {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.content .detail:hover {
  color: black;
  transition: all 0.3s ease-in-out;
}
.content #one img {
  display: block;
  width: 310px;
  height: 150px;
}
.content p {
  font-family: "Nunito Sans", sans-serif;
  width: 95%;
  font-size: 14px;
  font-weight: 300;
}
.content .button {
  background-color: #d1a272;
  /* padding-top: 5px;
    padding-bottom: 5px; */
  text-align: center;
  display: block;
}
.content .heading {
  color: rgb(209, 162, 114);
  font-weight: 500;
  text-transform: capitalize;
}
/* * .section {
  margin-left: 1.25rem;
} */

/* newsroom */

.container_newsroom {
  display: flex;
  justify-content: space-between;

  gap: 3rem;
}
.container_newsroom a {
  text-decoration: none;
}
.content {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.content #one img {
  display: block;
  width: 310px;
  height: 150px;
}
.content p {
  font-family: "Nunito Sans", sans-serif;
  width: 95%;
  font-size: 14px;
  font-weight: 300;
}
.content .button {
  background-color: #d1a272;
  padding: 15px 15px;
  text-align: center;
  color: white;
  font-size: x-large;
}
.content .heading {
  color: rgb(209, 162, 114);
  font-weight: 500;
  text-transform: capitalize;
  font-size: large;
}

/* about us */

.container_Aboutus,
.container_ourbrand,
.container_invester,
.container_newsroom,
.container_Ayurveda,
.container_JoinUs {
  padding: 3rem 0;
  padding-bottom: 5rem;
  display: flex;
  gap: 3rem;
  position: absolute;
  background: white;
  top: 88px;
  left: 0;
  width: 100%;
}
#Newsroom {
  padding-top: 0;
}
a {
  text-decoration: none;
}
.content {
  width: 20%;
  display: flex;
  flex-direction: column;
}
.content #one img {
  display: block;
  width: 310px;
  height: 150px;
}
.content p {
  font-family: "Nunito Sans", sans-serif;
  width: 95%;
  font-size: 17px;
  font-weight: 300;
  margin: 5px 5px;
}
.content .button {
  background-color: #d1a272;
  padding: 15px 15px;
  text-align: center;
  color: white;
  font-size: x-large;
}
.content .heading {
  color: rgb(209, 162, 114);
  font-weight: 500;
  text-transform: capitalize;
  font-size: x-large;
}

.content .detail {
  font-size: 16px;
}

/* ayurveda & you */

/* .container_Ayurveda {
  padding-top: 4rem;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: left;

  gap: 3rem;
} */
a {
  text-decoration: none;
}
.content {
  width: 25%;
  display: flex;
  flex-direction: column;
}
.content #one img {
  display: block;
  width: 310px;
  height: 150px;
}
.content p {
  font-family: "Nunito Sans", sans-serif;
  width: 95%;
  font-size: 16px;
  font-weight: 300;
  margin: 5px 5px;
  color: rgb(167, 167, 167);
  line-height: 19px;
  letter-spacing: 1px;
}
.content .button {
  background-color: #d1a272;
  padding: 15px 15px;
  text-align: center;
  color: white;
  font-size: x-large;
}
.content .heading {
  color: rgb(209, 162, 114);
  font-weight: 500;
  text-transform: capitalize;
  font-size: x-large;
}

.content .detail {
  font-size: 16px;
}

/* Join us */

/* .container_JoinUs {
  padding-top: 4rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 20px;
  display: flex;
  justify-content: left;

  gap: 3rem;
} */
a {
  text-decoration: none;
}
.content {
  width: 25%;
  display: flex;
  flex-direction: column;
}
.content #one img {
  display: block;
  width: 310px;
  height: 150px;
}
.content p {
  font-family: "Nunito Sans", sans-serif;
  width: 95%;
  font-size: 15px;

  margin: 5px 5px;
  color: rgb(167, 167, 167);
  line-height: 19px;
  letter-spacing: 1px;
}
.content .button {
  background-color: #d1a272;
  padding: 15px 15px;
  text-align: center;
  color: white;
  font-size: x-large;
}
.content .heading {
  color: rgb(209, 162, 114);
  font-weight: 500;
  text-transform: capitalize;
  font-size: large;
}

.content .detail {
  font-size: 16px;
}

/* support  */

/* .container_JoinUs {
  padding-top: 4rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 20px;
  display: flex;
  justify-content: left;

  gap: 3rem;
} */
a {
  text-decoration: none;
}
.content {
  width: 25%;
  display: flex;
  flex-direction: column;
}
.content #one img {
  display: block;
  width: 310px;
  height: 150px;
}
.content p {
  font-family: "Nunito Sans", sans-serif;
  width: 95%;
  font-size: 15px;

  margin: 5px 5px;
  color: rgb(167, 167, 167);
  line-height: 19px;
  letter-spacing: 1px;
}
.content .button {
  background-color: #d1a272;
  padding: 15px 15px;
  text-align: center;
  color: white;
  font-size: x-large;
}
.content .heading {
  color: rgb(209, 162, 114);
  font-weight: 500;
  text-transform: capitalize;
  font-size: large;
}

.content .detail {
  font-size: 16px;
}

/* our brand */

/* .container_ourbrand {
  padding-top: 4rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 20px;
  display: flex;
  justify-content: left;

  gap: 3rem;
} */
a {
  text-decoration: none;
}
.content {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.content .sub {
  width: 100%;
  margin-top: 4rem;
  text-align: left;
}

.content .digestive {
  padding-top: 2.7rem;
}

.content .down {
  padding-top: 3rem;
}

.content #one img {
  display: block;
  width: 310px;
  height: 150px;
}
.content p {
  font-family: "Nunito Sans", sans-serif;
  width: 95%;
  font-size: 15px;

  margin: 5px 5px;
  color: rgb(167, 167, 167);
  line-height: 19px;
  letter-spacing: 1px;
}
.content .button {
  background-color: #d1a272;
  padding: 15px 15px;
  text-align: center;
  color: white;
  font-size: x-large;
}
.content .heading {
  color: rgb(209, 162, 114);
  font-weight: 500;
  text-transform: capitalize;
  font-size: large;
}

.content .detail {
  font-size: 16px;
}
